body {
    background-color: GhostWhite;
    font-family: 'Montserrat', sans-serif;

    display: flex;
    
    align-items: stretch;
    justify-content: center;
}

.header {
    background-color: #e2f3f9;

 /*   box-shadow: 3px 3px 5px black; */
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.main {
    background-color: #59a9b5;

 /*   box-shadow: 4px 4px 7px black; */
    text-align: end;
    
    flex-shrink: 1;
    min-width: 14rem;
    max-width: 45rem;

    font-size: 1.2em;
    color: lightcyan;
 
}
.header section {
    display: flex;
    flex-direction: column;
}

.header .skills ul li {
    justify-content: space-between;
}

#header-description-h1, #contacts-h2, #skills-h2{
    align-self: center;
}
h1 {
    margin-bottom: 0.5rem;
}
#profession {
    align-self: center;
    font-size: 1.1em;
    margin-top: 0;
}
.header section ul {
    list-style-type: none;
}

.header section ul a {
    text-decoration: none;
    color: darkgreen;
}

.header section ul a:hover {
    text-decoration: underline;
}
.header section ul li {
    margin-right: 1rem;
}
.header section ul li {
    display: flex;
}

.header .skills #skills-main li {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.header #skills-main li p, img {
    margin: 1rem 0;
}
.header #skills-main li div {
    display: flex;
    flex-flow: row nowrap;
    }
#header-description-h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.main ul {
    list-style-type: none;
}

.main-description {
    margin: 2.5rem 2rem 0.5rem 2rem;
}

#about-me-main, #education-main, #code-main, #languages-main {
    margin-top: 0.5rem;
}

.image-box {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(50deg, #e2f3f9 50%, #59a9b5 50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav nav ul li {
    display:inline-block;
}

#code-main {
    background-color: #e2f3f9;
    color: black;
    text-align: left;
    box-shadow: 0 0 5px #e2f3f9;
    overflow: auto;
}
#education-main .description {
    margin: 0.5rem;
}
#education-main .date {
    margin-bottom: 0.5rem;
}

#nav {
    border-bottom: 2px solid lightcyan;
}
#nav nav ul {
    display: flex;
    justify-content: space-between;

}
#nav ul li a {
    text-decoration: none;
    color: lightcyan;
}
#nav nav ul li a:hover {
    text-decoration: underline;
    color: lightcyan;
}


@media (max-width: 840px) {
    #nav {
        display: none;
    }
}
@media (max-width: 640px) {

    body {
        
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }
    
    .image-box {
            background-image: none;
        }

}