html {
  scroll-behavior: smooth;
}

body {
  background-color: GhostWhite;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.ul {
  list-style-type: none;
  padding-left: 0;
}

.link {
  color: #E4EBFA;
  text-decoration: none;
}

.link_dark {
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Roboto", "Montserrat", sans-serif;
}

.header {
  font-size: 1.3rem;
}
.header .wrapper {
  position: relative;
}

.header-container {
  display: flex;
  position: absolute;
  top: 30px;
  right: 20px;
}

.header__navigation ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  margin: 0;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 7px;
}

.hamburger__line {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #E4EBFA;
}

.main {
  font-size: 1.3rem;
}
.main .wrapper {
  display: flex;
  flex-direction: row;
}

.column__right {
  text-align: end;
  padding: 40px 20px 20px 50px;
  background-color: #59a9b5;
  color: #E4EBFA;
  width: 1280px;
}
.column__right h2 {
  border-bottom: 2px solid #E4EBFA;
}

.column__left {
  position: relative;
  padding: 20px;
  background-color: #E2F3F9;
  text-align: center;
  width: 320px;
}

.column__left::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 320px solid #59a9b5;
  border-bottom: 320px solid transparent;
}

.code__description {
  background-color: #E2F3F9;
  color: #000000;
  text-align: start;
  box-shadow: 0 0 5px #e2f3f9;
}
.code__description code {
  overflow: auto;
}

.contacts__main li {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.contacts__main li p {
  margin: 0;
}
.contacts__main li a {
  color: #000000;
}

.flex-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.image-box {
  position: relative;
  margin: 20px;
}
.image-box img {
  z-index: 2;
  position: relative;
  top: 30px;
  right: 30px;
}

.image-box::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -30px;
  left: -30px;
  border-left: 115px solid #E2F3F9;
  border-top: 115px solid transparent;
  z-index: 3;
}

.image-box::before {
  content: "";
  display: block;
  width: 240px;
  height: 310px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #438797;
  z-index: 1;
}

.self-info__header {
  margin-top: 50px;
}

.education__description {
  margin: 0;
}

.hamburger_active {
  transform: rotate(90deg);
}

.footer {
  font-size: 1.3rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #E2F3F9;
  padding: 0 20px;
}

.rss-logo {
  width: 200px;
  height: auto;
}

@media (max-width: 767px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .header__navigation {
    display: none;
  }
}
@media (max-width: 640px) {
  .main {
    background-color: #E2F3F9;
    font-size: 1.3rem;
  }
  .main .wrapper {
    flex-direction: column;
  }

  .column__left {
    margin: 0 auto;
    width: 320px;
  }

  .image-box img {
    right: 20px;
  }

  .column__left::before {
    display: none;
  }

  .column__right {
    width: auto;
  }
}
@media (max-width: 1279px) {
  .wrapper {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
